
<header>

  <div >
      <h2 class="site-title">Léonie Aonzo</h2>
  </div>

  <nav>
    <ul>
      <li>
        <a href="{{ site.baseurl }}/about.html" {% if page.url contains "about" %} class="active" {% endif %} ><img src='{{ site.baseurl }}/img/about.png'>About</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/index.html" {% if page.url contains "index" %} class="active" {% endif %}><img src='{{ site.baseurl }}/img/projects.png'>Projects</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/blog.html" {% if page.url contains "blog" %} class="active" {% endif %}><img src='{{ site.baseurl }}/img/blog.png'>Blog</a>
      </li>
    </ul>
  </nav>

</header>

  {% if page.description %}
  <h3 class="page-description">{{ page.description }}</h3>
  {% endif %}
